.menu-item:nth-child(1)::after{
	position: absolute;
	bottom: -2px;
	left: 0;
	content: '';
	width: 100%;
	height: 2.5px;
	background-color: #a9d159;
	transition: .4s;
}

.explain h1{	
	position: relative;
	text-align: center;
	font-family: 'Noto Sans JP', sans-serif;
}

.explain h2{
	position: relative;
	display: inline-block;
	font-family: 'Noto Sans JP', sans-serif;
}
.explain h3{
	font-family: 'Noto Sans JP', sans-serif;
}
.explain h4{
	margin-bottom: 40px;
	font-family: 'Noto Sans JP', sans-serif;
	letter-spacing: 1px;
}
.explain-title{
	list-style-position: inside;
	list-style-type: none;
	list-style-image: url(../pic/cloud.svg);
}
.explain-title li{
	position: relative;
	margin:18px 0;
}
.explain-title li::before{
	content: '';
	position: absolute;

	background-image: linear-gradient(to right,#00838f,#00838f 5px,transparent 5px,transparent 14px);
	background-size: 14px 3px;
	background-position: left bottom;
	background-repeat: repeat-x;
	left: 0;
	bottom:-4px;
	display: inline-block;
	width:85%;
	height:3px;
}