.menu1-item:nth-child(3){
	background-color: #00bfff;
}
h1{	
	position: relative;
	text-align: center;
	font-family: 'Noto Sans JP', sans-serif;
}
.deco-list1{ 
	table-layout: fixed;
	width: 100%;
	border-collapse: collapse;
	border: 3px solid purple;
}
.deco-item{
	
}
.deco-icon{
	width:5vw;
}